<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Crampa Holds - Admin</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

	{{!-- This section allows templates to define custom CSS here --}}
	{{{_sections.head_css}}}
    {{!-- This section allows templates to define custom JS here --}}
	{{{_sections.head_js}}}
</head>

<body>
	<div id="header">
		<div class="container">
				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">Crampa Holds</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
								{{#each navLinks}}
									{{#unless isRight}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
									{{/unless}}
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								{{#each navLinks}}
									{{#if isRight}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										{{!-- Handle the shopping cart differently as it has a badge--}}
										{{#ifeq key 'shopping-cart'}}
										{{> shopping-cart session=../session}}
										{{else}}
										<a href="{{ href }}">{{ label }}</a>
										{{/ifeq}}
									</li>
									{{/if}}
								{{/each}}

								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}

								{{> locale-change}}
							</ul>

							
						</div>
					</div>
				</div>
		</div>
	</div>

	<div id="body">
		
	{{{body}}}

	</div>

	{{!-- Polyfill  for the Promise and Fetch APIs --}}
	<script src="/public/js/polyfill/promise.js"></script>
	<script src="/public/js/polyfill/fetch.js"></script>

	<script src="//unpkg.com/lodash"></script>
	<script src="//unpkg.com/vue"></script>
	{{!-- <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script> --}}
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	{{!-- This section allows templates to add custom JS here --}}
	{{{_sections.body_js}}}
</body>

</html>
