<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Crampa Holds - Admin</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

	{{!-- This section allows templates to define custom CSS here --}}
	{{{_sections.head_css}}}
    {{!-- This section allows templates to define custom JS here --}}
	{{{_sections.head_js}}}
</head>

<body>
	<div id="b">
		<div id="header">
			<b-navbar toggleable="md" type="dark" variant="info">
				<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
				<b-navbar-brand href="/">Crampa Holds - Admin</b-navbar-brand>
			
				<b-collapse is-nav id="nav_collapse">
					<b-navbar-nav>
						{{#each navLinks}}
							{{#unless isRight}}
								<b-nav-item href="{{ href }}" {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>{{ label }}</b-nav-item>
							{{/unless}}
						{{/each}}
					</b-navbar-nav>
			
					<!-- Right aligned nav items -->
					<b-navbar-nav class="ml-auto">
									
						<b-nav-item-dropdown text="Lang" right>
							<b-dropdown-item href="#">EN</b-dropdown-item>
							<b-dropdown-item href="#">ES</b-dropdown-item>
							<b-dropdown-item href="#">RU</b-dropdown-item>
							<b-dropdown-item href="#">FA</b-dropdown-item>
						</b-nav-item-dropdown>
			
						<b-nav-item-dropdown right>
							<!-- Using button-content slot -->
							<template slot="button-content">
								<em>User</em>
							</template>
							<b-dropdown-item href="#">Profile</b-dropdown-item>
							<b-dropdown-item href="#">Signout</b-dropdown-item>
						</b-nav-item-dropdown>
					</b-navbar-nav>
			
				</b-collapse>
			</b-navbar>
		</div>

		<div id="body">
			{{{body}}}
		</div>
	</div>
	

	<script src="//unpkg.com/lodash"></script>
	<script src="//unpkg.com/vue"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	{{!-- Polyfill  for the Promise and Fetch APIs --}}
	{{!-- <script src="/public/js/polyfill/promise.js"></script> --}}
	<script src="/public/js/polyfill/fetch.js"></script>

	<script type="text/javascript">
		new Vue({el: '#b'});
	</script>

	{{!-- This section allows templates to add custom JS here --}}
	{{{_sections.body_js}}}
</body>

</html>
