<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="Handmade wooden climbing holds and tools">
  		<meta name="keywords" content="Climbing holds,Climbing tools,Wooden climbing holds,Campusboard wooden holds">
  		<meta name="author" content="Rumen Neshev - neshev.rumen@gmail.com">


		<title>{{brand}}</title>
		<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">

		{{!-- Load the Site styles - Bootstrap and custom ones --}}
		<link href="/public/styles/build.boot.css?v={{version}}" rel="stylesheet">
		<link href="/public/styles/build.site.css?v={{version}}" rel="stylesheet">
		
        {{!-- This section allows templates to define custom CSS here --}}
		{{{_sections.head_css}}}
        {{!-- This section allows templates to define custom JS here --}}
		{{{_sections.head_js}}}

		<style>
  			[v-cloak] {
    			display: none;
  			}
		</style>

		<script type="text/javascript">
			function __loading(value) {
				var loading = document.getElementById("loading")
				if (loading) {
					if (value === false) {
						loading.parentElement.remove();
					} else if (value === true) {
						loading.style.width = "30%";
					} else if (value instanceof Number || typeof value === "number") {
						loading.style.width = value + "%";
					}
				}
			}

			document.addEventListener("DOMContentLoaded", function (event) {
			});
			window.addEventListener("load", function (event) {
				var preloader = document.querySelector('.preloader');
				if (preloader) {
            		preloader.classList.toggle('preloaded', true);
				}
			});
		</script>
	</head>
	<body>
		<!-- Add a simple Bootstrap loading-progress - no need for any fancy plugins/libraries -->
		<div class="progress" style="height: 3px; width: 100%; z-index: 100;">
			<div id="loading" class="progress-bar" role="progressbar"></div>
		</div>
	
		<div class="preloader">
			<svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="preloader-seq-indicator">
				<g fill="#F96D38">
					<path class="preloader-seq-circle preloader-seq-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/>
					<path class="preloader-seq-circle preloader-seq-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/>
					<path class="preloader-seq-circle preloader-seq-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/>
				</g>
			</svg>
		</div>

		<script type="text/javascript">__loading(true);</script>

		<div id="app">

			<nav class="header pt-3">
				<a href="/">
				 	<div class="logo d-none d-sm-block mx-3">
              			<img src="/public/images/logo.png" alt="">
        			</div>
          			<div class="logo-mini d-block d-sm-none mx-auto">
              			<img src="/public/images/logo-mini.png" alt="">
          			</div>
				</a>
          		
          		<ul class="mt-4">
					{{#each navLinks}}
						<li><a href="{{ href }}" {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
							<i class="fas fa-{{ icon }}"></i>
							<span class="d-none d-sm-inline-block">{{ label }}</span>
						</a></li>
					{{/each}}
          		</ul>
        	</nav>

			<div class="slide">
				<div class="content">
					{{{body}}}
				</div>
			</div>

			<div class="flashes">

			</div>
			
			<dir class="footer">
			<div class="row justify-content-center">
				<div class="col-auto text-center">
					Copyright &copy; 2018 Crampa.

					<div class="social-network social-circle d-inline-block">
                    	<a href="{{{ SOCIAL.FACEBOOK }}}" class="icoFacebook" title="Facebook">
                        	<i class="fab fa-facebook-f"></i>
                    	</a>
						<a href="{{{ SOCIAL.INSTAGRAM }}}" class="icoInstagram" title="Instagram">
                        	<i class="fab fa-instagram"></i>
                    	</a>
						<a href="mailto:{{{ EMAIL }}}" class="icoEmail" title="Email">
                        	<i class="fa fa-envelope"></i>
                    	</a>
                	</div>
				</div>
			</div>
			</dir>
		</div>

		<script type="text/javascript">__loading(40);</script>

		<script src="/public/js/build.boot.js?v={{version}}"></script>
		<script src="/public/js/build.site.js?v={{version}}"></script>

		<script type="text/javascript">__loading(90);</script>

        {{!-- This section allows templates to add custom JS here --}}
		{{{_sections.body_js}}}

		<script type="text/javascript">__loading(95);</script>

		{{> google-analytics}}

		<script type="text/javascript">__loading(false);</script>
	</body>
</html>
