<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{brand}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{{!-- Load the Site styles - Bootstrap and custom ones --}}
		<link href="/public/styles/build.boot.css?v={{version}}" rel="stylesheet">
		<link href="/public/styles/build.site.css?v={{version}}" rel="stylesheet">
		
        {{!-- This section allows templates to define custom CSS here --}}
		{{{_sections.head_css}}}
        {{!-- This section allows templates to define custom JS here --}}
		{{{_sections.head_js}}}

		<style>
  			[v-cloak] {
    			display: none;
  			}
		</style>

		<script type="text/javascript">
			function __loading(value) {
				var loading = document.getElementById("loading")
				if (loading) {
					if (value === false) {
						loading.parentElement.remove();
					} else if (value === true) {
						loading.style.width = "30%";
					} else if (value instanceof Number || typeof value === "number") {
						loading.style.width = value + "%";
					}
				}
			}
		</script>
	</head>
	<body>
		<!-- Add a simple Bootstrap loading-progress - no need for any fancy plugins/libraries -->
		<div class="progress" style="height: 3px; width: 100%; z-index: 100;">
  			<div id="loading" class="progress-bar" role="progressbar"></div>
		</div>
		<script type="text/javascript">__loading(true);</script>

		<div id="app">

			<nav class="header">
				<a href="/">
				 	<div class="logo d-sm-none d-md-block">
              			<img src="/public/images/logo.png" alt="">
        			</div>
          			<div class="logo-mini d-sm-block d-md-none">
              			<img src="/public/images/mini_logo.png" alt="">
          			</div>
				</a>
          		
          		<ul>
					{{#each navLinks}}
						<li><a href="{{ href }}" {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}><i class="fas fa-{{ icon }}"></i> <em>{{ label }}</em></a></li>
					{{/each}}
          		</ul>
        	</nav>

			<div class="slide">
				<div class="content">
					{{{body}}}
				</div>
			</div>
			
			<div class="footer">
				<div class="content">
					<p></p>Copyright &copy; 2018 Crampa. Produced By Rumen Neshev</p>
				</div>
			</div>
		</div>

		<script type="text/javascript">__loading(40);</script>

		<script src="/public/js/build.boot.js?v={{version}}"></script>
		<script src="/public/js/build.site.js?v={{version}}"></script>

		<script type="text/javascript">__loading(90);</script>

        {{!-- This section allows templates to add custom JS here --}}
		{{{_sections.body_js}}}

		<script type="text/javascript">__loading(95);</script>

		{{> google-analytics}}

		<script type="text/javascript">__loading(false);</script>
	</body>
</html>
