<div class="container-fluid">
	<div class="row my-4">
		<div class="col-12 col-md-6 px-4 pr-md-3">
			<div>
				<span>65 Evlogi & Hristo Georgievi Blvd., Sofia, Bulgaria</span><br>
				<span><i class="fa fa-phone"></i>+359 898 664 990</span><br>
				<span><i class="fa fa-phone"></i>+359 899 155 680</span>
			</div>

			<app-google-map location="42.686650, 23.329280" width="100%" height="50%" class="my-4"></app-google-map>
		</div>

		<div class="col-12 col-md-6 px-4 pl-md-2">
			{{#if enquirySubmitted}}
				<h3>Thanks for getting in touch.</h3>
			{{else}}
				<div class="card">
					Write to us or give us a call now, we’re always happy to provide a consultation and help out with any questions you may ask.
				</div>
				<form method="post">
					<input type="hidden" name="action" value="contact">
					
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<label>Name</label>
						<input type="text" name="name.full" class="form-control" value="{{formData.[name.full]}}">
					</div>
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<label>Email</label>
						<input type="email" name="email" class="form-control" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<label>Subject</label>
						<input type="text" name="subject" placeholder="(optional)" class="form-control" value="{{formData.subject}}">
					</div>
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
						<label>Message</label>
						<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
					</div>	
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Send</button>
					</div>
				</form>
			{{/if}}
		</div>
	</div>
</div>

{{#section 'head_css'}}
	<link href="/public/styles/build.contact.css?v={{version}}" rel="stylesheet">
{{/section}} 
{{#section 'body_js'}}
	<script src="/public/js/build.contact.js?v={{version}}"></script>
{{/section}}

