<div class="container-fluid">
	<div class="row my-4">
		<div class="col-12 col-md-6 px-4 pr-md-3">
			<div>
				<h5>65 Evlogi & Hristo Georgievi Blvd., Sofia, Bulgaria</h5>
				<h6><i class="fa fa-phone"> </i>+359 898 664 990</h6>
				<h6><i class="fa fa-phone"> </i>+359 899 155 680</h6>
				<h6><i class="fa fa-envelope"> </i><a href="mailto:{{{ EMAIL }}}" class="icoEmail" title="Email">{{{ EMAIL }}}</a></h6>
				
			</div>

			<app-google-map location="42.686650, 23.329280" width="100%" height="50%" class="mt-4"></app-google-map>
		</div>

		<div class="col-12 col-md-6 px-4 pl-md-2">
			{{#if enquirySubmitted}}
				<h3>Thanks for getting in touch.</h3>	
			{{else}}
				<div>
					Write to us or give us a call now, we’re always happy to provide a consultation and help out with any questions you may ask.
				</div>
				<form method="post" class="mt-4">
					<input type="hidden" name="action" value="contact">
					<input type="text" name="name.full" class="form-control {{#if validationErrors.name}}is-invalid{{/if}}"
							value="{{formData.[name.full]}}" placeholder="Name*" required>
					<input type="email" name="email" class="form-control {{#if validationErrors.email}}is-invalid{{/if}}" value="{{formData.email}}"
							placeholder="Email*" required>
					<input type="text" name="subject" class="form-control {{#if validationErrors.subject}}is-invalid{{/if}}" value="{{formData.subject}}"
							placeholder="Subject">
					<textarea name="message" class="form-control {{#if validationErrors.message}}is-invalid{{/if}}"
							placeholder="Leave us a message...*" rows="6" required>{{formData.message}}</textarea>
					<button type="submit" class="btn btn-primary w-100">Send</button>
				</form>
			{{/if}}
		</div>
	</div>
</div>

{{#section 'body_js'}}
	<script src="/public/js/build.contact.js?v={{version}}"></script>
{{/section}}

