<div class="container">
	<div class="row">
		<div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="{{blogUrl}}">&larr; back to the blog</a></p>
				<hr>
				<header>
					<h1>{{post.title}}</h1>
					<h5>
						{{{categoryList post.categories prefix="Posted in "}}}
						{{#if post.author.name.first}}by {{post.author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="post">
					{{#if post.image}}<img src="{{{cloudinaryUrl post.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
					{{{post.content.extended}}}
				</div>
				<hr>
				<div>
					{{>comment-form}}
					{{>comments}}
				</div>
			</article>
		</div>
	</div>
</div>

{{!-- 
{{#section 'header_css'}}
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
{{/section}} 
--}}

{{!-- This sections allows templates to define custom JS here --}}
//TODO: use VueJS
{{#section 'body_js'}}
    <script>
	jQuery(function ($) {
		var comments = $('#comments');
		var input = $('.comment-field-input');
		var submit = comments.find('button[type=submit]');

		// Scroll to comments and focus input field
		$('[href="#comments"]').click(function scrollToComments(e) {
			e.preventDefault();

			$('html, body').animate({ scrollTop: comments.offset().top }, 250);

			input.eq(0).focus();
		});

		// Check if field has content: enable/disable submit. Disable by default
		submit.attr('disabled', 'disabled');
		input.keyup(function () {
			if ($.trim($(this).val())) {
				submit.removeAttr('disabled');
			} else {
				submit.attr('disabled', 'disabled');
			}
		});
	});
</script>
{{/section}}

