

<div class="comments-wrap">
	{{#if comments}}
	    <h3 class="text-success">Comments</h3>
	    <hr/>
		<ul class="comments">
	    {{#each comments}}
	    	{{#if author}}
				<li class="clearfix">
					<img src="http://placehold.it/80x80" class="avatar" alt="">
				    <div id="comment-id-{{id}}" class="comment">
				  		<p class="meta">Dec 18, 2014 {{author.name.full}} says :
							{{#if (isSame ../user author.id) }}
						  		<i class="pull-right"><a href="?action=comment.remove&comment={{id}}"><small>Delete</small></a></i>
						  	{{/if}}
					  	</p>
				      	<p>
				         	{{{content}}}
				      	</p>
				  </div>
				</li>
	    	{{/if}}
	   {{/each}}
	   </ul>
	
	{{else}}
	   <h3 class="text-success">No comments</h3>
	{{/if}}

</div>
