<h1>Hi %recipient.firstName%</h1>

<p class="text-larger">An enquiry was just submitted to {{brand}}:</p>

<p class="text-larger"
   From <strong>{{enquiry.name.full}}</strong>
   <a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a>)
</p>

{{#if enquiry.phone}}
<p class="text-larger">Phone: {{enquiry.phone}}</p>
{{/if}}
{{#if enquiry.subject}}
<p class="text-larger">{{underscoreFormat enquiry 'subject'}}</p>
{{/if}}
{{{enquiry.message.html}}}

<p class="text-muted">Sent {{underscoreFormat enquiry 'createdAt'}}</p>
