<h1>Hi %recipient.firstName%</h1>

<p class="text-larger">An order was just submitted to {{brand}}:</p>

<p class="text-larger">From {{#if order.user.name.full}} <strong>{{order.user.name.full}}</strong> {{/if}}
	{{#if order.user.email}} (<a href="mailto:{{order.user.email}}">{{order.user.email}}</a>) {{/if}}
</p>

<p class="text-larger">Order ID: {{order.id}}</p>
<p class="text-larger">Shipping to: {{order.shippingAddress}}</p>
<p class="text-larger">Zone: {{order.zone}}</p>
<p class="text-larger">Total price: {{order.totalPrice}}</p>
<p class="text-muted">Sent {{underscoreFormat order 'createdAt'}}</p>
