<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

			<article>
				<p>
					<a href="{{shopUrl}}">&larr; back to Shop</a>
				</p>
				<hr> {{#if session.cart}}

				<header>
					<h1>Shopping cart</h1>
					<h3>Total products : {{session.cart.totalQty}}</h3>
					<h3>Total Price : {{session.cart.totalPrice}}</h3>
				</header>

				<hr>

				<ul class="list-group cart">
					{{# each session.cart.items}}
					<li class="list-group-item product">
						<strong>
							<a href="{{productUrl product.slug}}">{{{product.title}}}</a>
						</strong>

						<b-dropdown text="Action">
							<b-dropdown-item href="{{cartRemoveUrl @key}}">Remove 1</b-dropdown-item>
							<b-dropdown-item href="{{cartRemoveUrl @key qty='all'}}">Remove All</b-dropdown-item>
						</b-dropdown>

						<b-badge pill variant="primary">Quantity: {{qty}}</b-badge>
						<b-badge pill variant="primary" class="float-right">${{ totalPrice product.price qty }}</b-badge>
					</li>
					{{/each}}
				</ul>

				<b-button href="{{shopUrl 'checkout'}}" variant="success" class="my-2">Checkout</b-button>

				{{else}}
				<header>
					<h1>Empty Shopping cart</h1>
				</header>
				{{/if}}
			</article>

		</div>
	</div>
</div>
