<div class="container" id="app-shop-cart" v-cloak
	data-cart-total-price="{{ifx session.cart session.cart.totalPrice 0}}"
	data-shipping-zones="{{ifx shippingZones true false}}">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

			<article>
				<p>
					<a href="{{shopUrl}}">&larr; back to Shop</a>
				</p>
				<hr>
				
				{{#if session.cart}}
				<div v-if="!paypalFinished">
					<header>
						<h1>Shopping cart</h1>
					</header>
					<hr>

					<ul class="list-group cart">
						{{# each session.cart.items}}
						<li class="list-group-item product">
							<strong>
								<a href="{{productUrl product.slug}}">{{{product.title}}}</a>
							</strong>
							<b-dropdown text="Action">
								<b-dropdown-item href="{{cartAddUrl @key}}">Add 1</b-dropdown-item>
								<b-dropdown-item href="{{cartRemoveUrl @key}}">Remove 1</b-dropdown-item>
								<b-dropdown-item href="{{cartRemoveUrl @key qty='all'}}">Remove All</b-dropdown-item>
							</b-dropdown>
							<b-badge pill variant="primary">Quantity: {{qty}}</b-badge>
							<b-badge pill variant="primary" class="float-right">{{totalPrice product.price qty}} €</b-badge>
						</li>
						{{/each}}
					</ul>

					{{#if shippingZones}}
					<b-row class="my-3" align-v="center" no-gutters>
						<b-col cols="auto" class="mr-2">Shipping:</b-col>
						<b-col>
							<b-form-select v-model="shippingZone"  required>
								<option :value="null" disabled>-- Please select shipping zone --</option>
								{{#each shippingZones}}
      							<option :value="{id: '{{id}}', shipping: {{shipping}} }">{{#iff shipping '>' 0}}Plus {{shipping}} € shipping to - {{/iff}}{{ description}}</option>
								{{/each}}
	  						</b-form-select>
						</b-col>
					</b-row>
					{{/if}}

					<hr>

					<b-row class="my-3" align-v="start">
						<b-col cols="auto">
							<div>Total products : {{session.cart.totalQty}}</div>
							<div>Total Price : \{{totalPrice}} €</div>
						</b-col>
						<b-col>
							{{!-- <b-button href="{{shopUrl 'checkout'}}" variant="success">Checkout</b-button> --}}
							
							{{!-- Add a PayPal express-checkout button --}}
							<app-paypal-button mode="{{ PAYPAL_MODE }}"
											   create-url="/shop/checkout/paypal/payment/create"
											   execute-url="/shop/checkout/paypal/payment/execute"
											   :create-data="paypalRequestCreateData"
											   :state="paypalState"
											   @state-changed="paypalStateChanged">
							</app-paypal-button>
						</b-col>
					</b-row>

				</div>
				<div v-else>\{{ paypalFinishedText }}</div>

				{{else}}
				<header>
					<h1>Empty Shopping cart</h1>
				</header>
				{{/if}}
			</article>

		</div>
	</div>
</div>

{{#if session.cart}}

{{#section 'head_js'}}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
{{/section}}

{{/if}}

{{#section 'head_css'}}
<link href="/public/styles/build.shop-cart.css?v={{version}}" rel="stylesheet">
{{/section}}

{{#section 'body_js'}}
<script src="/public/js/build.shop-cart.js?v={{version}}"></script>
{{/section}}


