<div class="container">
	<h1>Products</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ products.results.length}} products.</h4>
			<div class="products">
				{{# each products.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../user id}}{{/if}}" class="post">
					<h2><a href="{{productUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in " parentRoute=(shopCategoryUrl '')}}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{description.brief.html}}}</p>
					{{#if description.extended.html}}<p class="read-more"><a href="{{productUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="{{shopUrl}}" class="{{ifx category '' 'active'}} list-group-item">All Categories</a>
				{{# each categories }}
				<a href="{{shopCategoryUrl slug}}" class="{{ifx (isSame ../category id) 'active' ''}} list-group-item">{{name}}
					<span class="badge pull-right">{{count}}</span>
				</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{!-- TODO: Fix shop pagination --}}
	{{>pagination}}
</div>
