<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<article>
				<header>
					<h1>{{product.title}}</h1>
				</header>
				<div class="product">
					{{#if product.image}}<img src="{{{imageThumbUrl product.image quickthumb=true width=500}}}" class="img-responsive">{{/if}}
					{{{product.description.full.html}}}
				</div>

				<div class="product-price">
					Price is {{{product.price}}}
				</div>
				<a href="{{cartAddUrl product.id}}">Add to cart</a>
			</article>
		</div>
		<app-slideshow :images="{{toJSON gallery.images}}" :thumbs="true"></app-slideshow>
	</div>
	
</div>

{{#section 'head_css'}}
	<link href="/public/styles/build.shop-product.css?v={{version}}" rel="stylesheet">
{{/section}} 
{{#section 'body_js'}}
	<script src="/public/js/build.shop-product.js?v={{version}}"></script>
{{/section}}



