<div class="container-fluid">
	<div class="row my-4">
		<div class="col">
			<app-slideshow :images="{{toJSON gallery.images}}" :thumbs="true"></app-slideshow>
		</div>
		<div v-if="false" class="col-sm-6 col-md-4">
			<div class="products">
				{{#each products.results}}
				<div class="product">
					<h3><a href="{{productUrl slug}}">{{{title}}}</a></h3>
					{{!-- {{#if image}}<img src="{{{imageThumbUrl image quickthumb=true width=500}}}" class="img float-right">{{/if}} --}}
					<p>{{{description.brief.html}}}</p>
				</div>
				{{/each}}
			</div>
		</div>
		
	</div>

	{{!-- TODO: Fix shop pagination --}}
	{{!-- {{>pagination}} --}}
</div>

{{#section 'head_css'}}
	<link href="/public/styles/build.shop-products.css?v={{version}}" rel="stylesheet">
{{/section}} 
{{#section 'body_js'}}
	<script src="/public/js/build.shop-products.js?v={{version}}"></script>
{{/section}}
