<div class="container-fluid">
	<div class="row my-4">
		<div class="col-12">
			<article>
				<header>
					<h1>{{product.title}}</h1>
				</header>
				{{#unless product.isAbstract }}
				
					<div class="font-weight-bold">
						Price: {{{product.price}}} €
					</div>

					<div class="my-3">
						{{#if gallery.videos.[0]}}
							<div class="row">
								<div class="col-12 col-md-6">
									{{!-- {{#if product.image}}<img src="{{{imageThumbUrl product.image quickthumb=true width=500}}}" class="img-responsive">{{/if}} --}}
									{{{product.description.full.html}}}
								</div>

								<div class="col-md-6">
									<div class="video product-video" >
										<app-video url="{{{gallery.videos.[0]}}}" height="180"></app-video>
									</div>
								</div>
							</div>
						{{else}}
							{{{product.description.full.html}}}
						{{/if}}
					</div>
				
					<button class="btn btn-primary wow slideInLeft"><a href="{{cartAddUrl product.id}}">Add to cart</a></button>

				{{else}}

					<div class="products">
						{{#each subProducts}}
							<button class="btn btn-primary d-block my-3"><a href="{{productUrl slug}}">{{{title}}}</a></button>
						{{/each}}
					</div>

				{{/unless}}

			</article>
		</div>
		<div class="col mt-3">
			<app-slideshow :images="{{toJSON gallery.images}}" :thumbs="true"></app-slideshow>
		</div>
	</div>
	
</div>

{{#section 'head_css'}}
	<link href="/public/styles/build.shop-product.css?v={{version}}" rel="stylesheet">
{{/section}} 
{{#section 'body_js'}}
	<script src="/public/js/build.shop-product.js?v={{version}}"></script>
{{/section}}



